@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap");

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
  background-color: #e1fae9;
  align-items: center;
}

.about-image {
  margin: auto;
  padding: 2rem;
  border-radius: 18px;
  /* border: 2px solid green; */
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  object-fit: cover;
}

.about-main {
  padding: 2rem;
  margin: auto;
  /* border: 2px solid blue; */
}

.about-main h2 {
  color: #065f46;
  font-size: 2.5rem;
}

.about-main p {
  padding-top: 1.25rem;
  font-size: 1.25rem;
  color: #236955;
}

/* Responsive for tablets and below */
@media (max-width: 768px) {
  .about-section {
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  .about-main,
  .about-image {
    padding: 1rem;
    text-align: center;
  }

  .about-main h2 {
    font-size: 2rem;
  }

  .about-main p {
    font-size: 1.1rem;
  }
}

/* Responsive for mobile phones */
@media (max-width: 480px) {
  .about-section {
    padding: 1rem;
    gap: 1rem;
  }

  .about-main h2 {
    font-size: 1.75rem;
  }

  .about-main p {
    font-size: 1rem;
  }
}